.section {
  color: red;
  height: 100vh;
  position: relative;
}
.section__tabs {
  height: 48px;
  display: flex;
  transform: translate3d(0,0,0);
  // border: 1px solid #e1e1e1;
  position: relative;
  box-sizing: content-box;
}
.section__tab {
  flex: 1;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  padding: 12px 24px;
  transition: background-color .35s cubic-bezier(.35,0,.25,1);
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  text-transform: uppercase;
  float: left;
  font-weight: 500;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(16,108,200);
}
.section__inc {
  position: absolute;
  bottom: 0;
  background: rgb(255,82,82);
  height: 2px;
}
.section__tab____active {
  background-color: #67ef71;
}
.section__content {
  color: #000;
  width: 100%;
  position: absolute;
  top: 48px;
  bottom: 0;
}
.section__page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.section__page____enter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.01;
  transform: translateX(-100%);
  transition: transform .75s ease-in, opacity .75s ease-in;
  &.section__page____enterActive {
    transform: translateX(0);
    opacity: 1;
  }
}
.section__page____leave {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transform: translateX(0);
  transition: transform .75s ease-in, opacity .75s ease-in;
  &.section__page____leaveActive {
    transform: translateX(100%);
    opacity: 0.01;
  }
}
.section__page____appear {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.01;
  transform: translateX(-100%);
  transition: transform .75s ease-in, opacity .75s ease-in;
  &.section__page____appearActive {
    transform: translateX(0);
    opacity: 1;
  }
}
