*, *:before, *:after {
  box-sizing: inherit
}
html {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.app {
  display: block;
}
