.player {
  text-align: center;
}
.player__logo {
  text-decoration: none;
}
.player__logo_img {
  max-width: 85%;
}

.player__control {
  padding: 0 10% 10% 10%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.player__control_img {
  width: 36%;
  margin: 10%;
  cursor: pointer;
}
.player__volume {
  height: 8px;
  width: 80%;
  background-color: #777;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.player__volume_drag {
  width: 14px;
  height: 14px;
  left: -7px;
  opacity: .2;
  position: relative;
  z-index: 2;
}
.player__volume_fill {
  [class*="react-draggable-dragging"] + & {
    transition: none;
  }
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
  z-index: 1;
  transition: width .4s ease-in;
}
